

.bg {
    height: 1140px;
}
.menu-position {
    top: 12%;
    direction: rtl;
    font-family: iransnum, Tahoma, sans-serif;
    position: relative;
}

.menu-position .navbar-nav .nav-item a {
    color: #000;
    font-family: iransnum, Tahoma, sans-serif;
    font-size: 10px;
    border-left: 1px solid #939497;
}

.menu-position .navbar-nav .border-none-left a {
    border-left: none;
}

.menu-position .navbar-nav .nav-item {
    font-family: iransnum, Tahoma, sans-serif;
}

.menu-position .navbar-nav .active {
    background-color: #297996;
    border-radius: 5px;
    margin-right: 5px;
}

.menu-position .navbar-nav .active a {
    border-left: none;
}

.menu-position .navbar-nav .nav-item .nav-link:hover {
    color: #1ab1d2;
}

.content-event {
    height: 1000px;
    position: relative;
    top: 13%;
}

.hr-display {
    display: inline-flex;
    position: relative;
}

.event-text {
    margin: 5px 7px;
}

.col-left {
    float: left;
}

.col-left img {
    margin-bottom: 10px;
}

.bg-white-content {
    background-color: #fff;
    border-radius: 15px 0px 0px 15px;
    height: 159px;
    padding: 25px 15px;
}

.content-event-bottom {
    margin-bottom: 10px;
}

.event-pic img {
    height: 80%;
}

.event-pic {
    max-width: 245px;
    padding-right: 0px;
}

.bg-white-content .writing {
    display: block;
    font-size: 13px;
    font-weight: bolder;
    margin-bottom: 8px;
}

.bg-white-content .subject {
    font-size: 14px;
    font-weight: bolder;
}

.bg-white-content .date {
    color: #868585;
    font-size: 13px;
    float: left;
}

.bg-white-content .more {
    color: #fff;
    background-color: #2b788c;
    border-radius: 12px;
    padding: 5px 20px;
    display: block;
    float: left;
    font-size: 10px;
    position: relative;
    top: 55px;
    right: 57px;
    text-decoration: none;
}

.bg-white-content .more:hover {
    font-weight: bold;
}

/*.size-height:hover {*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*    border-radius: 15px;*/
/*}*/
.size-height {
    height: 157px;
    margin-bottom: 25px;
}

.color-text {
    color: #2b788c;
    margin: 5px 5px;
    font-size: 16px;
    font-weight: bolder;
}

.bg-white-left-column {
    background-color: #fff;
    width: 250px;
    height: 150px;
    padding: 12px 30px;
    line-height: 1.8;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: -5px;
}

.bg-white-left-column .color-left-column {
    display: block;
    font-family: iransnum, Tahoma, sans-serif;
}